@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css'); */

pre {
  background: white !important;
  width: 0 !important;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/PretendardVariable.ttf");
}

* {
  font-family: "Pretendard";
}

.width-fill-available {
    width: -webkit-fill-available;
  }

*::-webkit-scrollbar {
    width: 5px;
  }

  
*::-webkit-scrollbar-thumb {
    background: #d7d7d7; 
    border-radius: 20px;
  }

/* 기본 증감 버튼 숨기기 (Chrome, Safari, Edge, Opera) */
.no-spin-button::-webkit-outer-spin-button,
.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 기본 증감 버튼 숨기기 (Firefox) */
.no-spin-button {
  -moz-appearance: textfield;
}